<nav>
  <a [routerLink]="['/football']"  routerLinkActive="active">football</a>
  <a [routerLink]="[{outlets: {primary:['football'], tony: ['basketball']}}]"  routerLinkActive="active">football--basketball</a>
  <a [routerLink]="['/basketball']"  routerLinkActive="active">basketball</a>
  <a [routerLink]="[{outlets: {tony: ['basketball']}}]" routerLinkActive="active">tony--basketball</a>
  <a [routerLink]="['/lol']" routerLinkActive="active">lol</a>
</nav>
<div class="contain">
  <router-outlet></router-outlet>
  <router-outlet name="tony"></router-outlet>
</div>